<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo appearance -->

  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="left_wheel">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="right_wheel">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="caster_wheel">
    <material>Gazebo/Grey</material>
  </gazebo>

    <!-- Gazebo Sensors System -->

  <gazebo>
    <plugin
      filename="gz-sim-sensors-system"
      name="gz::sim::systems::Sensors">

      <render_engine>ogre2</render_engine>

    </plugin>
  </gazebo>

  <!-- Differential Drive Plugin -->

  <gazebo>
    <plugin
      filename="gz-sim-diff-drive-system"
      name="gz::sim::systems::DiffDrive">

      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>

      <wheel_separation>0.33</wheel_separation>
      <wheel_radius>0.05</wheel_radius>

      <topic>cmd_vel</topic>

      <odom_topic>odom</odom_topic>

      <frame_id>odom</frame_id>

      <child_frame_id>base_link</child_frame_id>

    </plugin>
  </gazebo>

    <!-- ================= LiDAR Sensor ================= -->

  <gazebo reference="lidar_link">

    <sensor name="lidar_sensor" type="gpu_lidar">

      <update_rate>10</update_rate>

      <topic>scan</topic>

      <lidar>

        <scan>

          <horizontal>

            <samples>720</samples>

            <resolution>1</resolution>

            <min_angle>-3.14159</min_angle>

            <max_angle>3.14159</max_angle>

          </horizontal>

        </scan>

        <range>

          <min>0.12</min>

          <max>10.0</max>

          <resolution>0.01</resolution>

        </range>

      </lidar>

      <always_on>true</always_on>

      <visualize>true</visualize>

    </sensor>

  </gazebo>

    <!-- ================= Camera Sensor ================= -->

  <gazebo reference="camera_link">

    <sensor name="camera_sensor" type="camera">

      <always_on>true</always_on>

      <update_rate>30</update_rate>

      <visualize>true</visualize>

      <topic>camera</topic>

      <camera>

        <horizontal_fov>1.3962634</horizontal_fov>

        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>

        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>

      </camera>

    </sensor>

  </gazebo>

</robot>